---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Sofia Pro";
    font-weight: 100;
    src: url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.eot");
    src: url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f3d5ff31ac8e997dff2b13190f163bc0.svg#Sofia") format("svg");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 300;
    src: url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.eot");
    src: url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9126ab31ea89886fdf039582d99d9bde.svg#Sofia Pro") format("svg");
}

@font-face {
    font-family: "Sofia";
    font-weight: 500;
    src: url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.eot");
    src: url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/325e7d169219c1646c0f19f7bf39d126.svg#Sofia") format("svg");
}

body {
    background: white;
}

body, p, span, div {
    font-family: "Sofia Pro";
    font-weight: 100;
}

#container {
    background: transparent;
}

header h1 {
    font-family: "Sofia Pro";
    font-size: 2.5rem;
}

.brand-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 2.5rem;
    font-size: 2.5rem;
}

h1 small {
    display: block;
    font-size: 0.8em;
    color: #888;
}

h2 small {
    display: block;
    font-size: 0.4em;
    color: #888;
}

a{
    display: inline-flex;
    font-size: 1.0em;
    color: rgb(0, 153, 255);
}
